.tab-content-item {
    width: 300px;
    display: none;
}

.tab-content-item img {
    display: block;
    width: 100%;
}

.tab-content-item.actived{
    display: block;
}

.navtab-btn.actived{
    background-color: red;
}