*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-size: 1.6rem;
}

/* card */
.container{
    /* border: 2px solid red; */
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card__block{
    border: 2px solid #eeee;
    width: 25.6rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: #fafafa;
    transition: 0.3s;
}

.card__block:hover{
    box-shadow: 1px 1px 1px black;

}

.card__img{
    /* border: 2px solid royalblue; */
    height: 24.2rem;
}

.card__img img{
    display: block;
    width: 100%;
    height: 100%;
}

.card__infor{
    /* border: 2px solid brown; */
    padding: 0.5rem 0;
}

.card__infor p{
    font-size: 1.5rem;
    font-weight: 700;
}

.card__infor p span{
    font-size: 1.3rem;
    font-weight: 400;
}

.card__controller{
    /* border: 2px solid aquamarine; */
    display: flex;
}

.card__controller{
    display: flex;
}

.card__controller__block{
     width: 50%;
     /* border: 2px solid red; */
}

.btn-card__controller{
    /* border: 2px solid purple; */
    display: block;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: aqua;
}

.btn-card__controller:hover{
    background-color: aquamarine;
}

.card-list{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.splide__slide{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}